
@{
    ViewBag.Title = "Index";
}

<h3>Välkommen till <strong>ReceptTips.SE</strong>!</h3>
<p>Vad önskar du idag?</p>

<div>
    <div class="row">
        <div class="col-md-6"><a href="/Food/Index"><img class="picsOnStartPage" src="~/css/mat.jpg" alt="Mat" /></a></div>
        <div class="col-md-6"><a href="/Drink/Index"><img class="picsOnStartPage" src="~/css/dryck.jpg" alt="Dryck" /></a></div>
    </div>
</div>
<br />