


<h2 style="text-align:center;">Kontakta Oss!</h2>
<br />
<div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12">
    <form class="form-horizontal ">
        <fieldset>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Namn</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="text">

                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Vad</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select">
                        <option>Jag gillar inte detta recept</option>
                        <option>Får inte recepten att fungera</option>
                        <option>Egen Fråga</option>
                        <option>Inget av ovanstående</option>
                        <option>Annat</option>
                    </select>
                    <br>

                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Fråga</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Villkor</label>
                <div class="col-lg-10">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox"> Ja, jag har läst <a href="url">Säkerhet</a>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <p><a href="/Index/FormulärSkickat" class="btn btn-primary" role="button">Submit</a></p>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12">
    <style>
        #map {
            width: 600px;
            height: 400px;
        }
    </style>

    <div id="map"></div>
    <script>
        function initMap() {
            var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
                center: { lat: 57.683118, lng: 11.999941 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
            async defer></script>
</div>
