
@using ProjektHermods.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Food</h2>

@using (ReceptTipsContext context = new ReceptTipsContext())
{
    foreach (Recept item in context.Recepts)
    {
        if(item.ChoosenTypes.Typ == "Mat")
        {
            <p>@item.Name</p>
        }
    }
}